<hr>
<div class="container">
	<div class="row justify-content-center">
		<div class="col">
			<span class="myGrey" style="font-size: 2em;"/>
				<p class="text-center"><i class="fas fa-truck"></i></p>
			</span>
			<p class="ellipsis text-center oldtt font-weight-bold">Livraison offerte dès 100 €</p>
			<p class="myGrey font-italic opensans text-center">En France Métropolitaine en 48 avec collissimo</p>
		</div>
		<div class="col offset-lg-1">
			<span class="myGrey" style="font-size: 2em;"/>
				<p class="text-center"><i class="far fa-credit-card"></i></p>
			</span>
			<p class="ellipsis text-center oldtt font-weight-bold">Paiement 100% sécurisé</p>
			<p class="myGrey font-italic opensans text-center">Carte bancaire, Paypal Virement ou Chèque</p>
		</div>
		<div class="col offset-lg-1">
			<span class="myGrey" style="font-size: 2em;"/>
				<p class="text-center"><i class="fas fa-undo"></i></p>
			</span>
			<p class="ellipsis text-center oldtt font-weight-bold">Echange gratuit</p>
			<p class="myGrey font-italic opensans text-center">Vous souhaitez échanger ?</p>
		</div>
		<div class="col offset-lg-1">
			<span class="myGrey" style="font-size: 2em;"/>
				<p class="text-center"><i class="fab fa-tripadvisor"></i></p>
			</span>
			<p class="ellipsis text-center oldtt font-weight-bold">95% de satisfaction</p>
			<p class="myGrey opensans text-center">Nos clients sont satisfaits</p>
		</div>
	</div><hr>
	<div class="row justify-content-center">
		<div class="col-2 footerDiv">
			<p class="text-center oldtt font-weight-bold">A propos</p>
			<ul>
				<li>Qui sommes nous</li>
				<li>Blog</li>
				<li>Echange gratuit</li>
				<li>Livraison - Paiement</li>
				<li>Conditions Générales de vente</li>
			</ul>	
		</div>
		<div class="col-3 offset-lg-2 footerDiv">
			<p class="text-center oldtt font-weight-bold">Nous contacter</p>
			<ul>
				<li>56 chemin des fontaines</li>
				<li>Tel : 02 06 54 87 85</li>
				<li>Mail : ClothA@pro.com</li>
			</ul>	
		</div>		
		<div class="col-2 offset-lg-2 footerDiv">
			<p class="text-nowrap oldtt font-weight-bold">Recevez notre newsletter</p>
			<form>
				<input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Nom">
				<!-- Email -->
				<input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">
				<!-- Sign in button -->
			<button class="btn btn-info" type="submit">S'inscrire</button>
			</form>
		</div>	

	</div>	
</div>