

@import url('http://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
/* Color and fonts */
.cabin {
  font-family: 'Bree Serif';
}

.lobster {
  font-family: 'Lobster';
}

.myBlue {
  color: #5F94E4;
}

body {
  font-family: 'Cabin';
}

h3 {
  font-family: 'Lobster';
}

/* Left Menu */
.pLeftMenu {
  font-size: 1.5rem;
  display:inline;
  margin-left: 0.3rem;
  font-family: 'Lobster';
  font-weight: lighter;
}

.typeName {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 2rem;
  color: #5F94E4;
}

.cardBody {
  border-top:solid;
  border-width: 0.1rem;
  border-color: #1067EB;
}

.myColorLogo {
  border: solid;
  border-radius: 0.1rem;
  border-color: #D4D9DF;
  border-width: 0.01rem;
  padding-left: 0.2rem;
}

/* Navbar */;

* {
  box-sizing: border-box;
}
nav {
  padding: 30px;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
  padding-right: 2rem;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}

.funnyShop {
  font-weight: bold;
  font-size: 3rem;
  padding-top: 2rem;
  font-family: 'Bree Serif';
  white-space: nowrap;
}

.logo {
  width:80%;
}

.myNavbar > li {
  padding-right:3rem;
} 

.myNavbar > li > a{
  font-weight: bold;
  font-size: 1.2rem;
}

.panierBtn {
  text-align: center;
}

.panierBtn > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loginBtn {
  text-align: center;
  color:black;
}

.loginBtn > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* Useful things */
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Show Cart */

.size {
  border:solid;
  padding:1rem;
  text-align: center;
  font-weight: bold;
  border-color: grey;
  border-width: 0.1px;
  margin:1rem;
}

.cartImg {
  width: 80%;
}

.totalPrice {
  margin-left: 8rem;
  margin-top: 5rem;
}

.myP {
  font-weight: bold;
  font-size: 3rem;
  border: solid 0.3rem grey;
  border-radius: 10px;
  text-align: center;
  font-family: 'Lobster';
}

.clothName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myDescription {
  height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.pictureShowOne {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* checkbox */
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=checkbox] {
    border-radius: 0.2rem;
    height: 1.2rem;
    width: 1.2rem;
    background: white;
    border:solid;
    border-color: grey;
    border-width: 0.1rem;
    display: inline-block;
    }

input[type="checkbox"]:checked {
  font-family: FontAwesome;
  content: "\f046";
  background-color: #5F94FF;
  }
  
.topnav {
  display: none;
}

/* Media queries */

@media screen and (max-width: 760px) {
  /* Navbar sm screen */

h1 {
  font-size: 42px;
  line-height: 56px;
}

  .nav-open {
    padding-top: 2rem;
    font-weight: bold;
  }
  .logo {
    width:20%;
    display: none;
  }

  .funnyShop {
    text-decoration: none;
    text-align: center;
    width: 30%;
    padding-left: 1rem;
  }

  .smCard {
    padding-bottom: 2rem;
  }

}






@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none !important;
}
