{% extends 'base.html.twig' %}

{% block title %}New Cloth{% endblock %}

{% block body %}
    <h1 class="text-center">Creer un nouvel article</h1>
    <a href="{{ path('cloth_index') }}"><p class="text-center">Retour à la liste</p></a>
    {{ include('cloth/_form.html.twig') }}
{% endblock %}
